* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('\../imagens/fundodeestante.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

p,
li,
a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-image:
        radial-gradient(circle, rgba(255, 255, 255, 0.2) 2px, transparent 2px),
        radial-gradient(circle, rgba(255, 255, 255, 0.2) 2px, transparent 2px),
        radial-gradient(circle, rgba(255, 255, 255, 0.2) 2px, transparent 2px);
    background-size: 300px 300px;
    animation: falling-dots-random 8s linear infinite;
}

main {
    flex: 1 0 auto;
    margin-top: 20px;
}

@keyframes falling-dots-random {
    0% {
        background-position: 0 0, 100px -200px, 200px -400px;
    }
    25% {
        background-position: -50px 200px, 150px 0, 250px -200px;
    }
    50% {
        background-position: -100px 400px, 200px 200px, 300px 0;
    }
    75% {
        background-position: -150px 600px, 250px 400px, 350px 200px;
    }
    100% {
        background-position: -200px 800px, 300px 600px, 400px 400px;
    }
}

.header {
    background-color: #1e5372;
    color: white;
    padding: 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
    display: flex;
    align-items: center;
}

#logo {
    width: 350px;
    height: auto;
    display: block;
    margin-bottom: -20px;
    margin: 20px 0px 0px 20px;
}

.header ul {
    list-style: none;
    padding: 15px 10px 20px 10px;
}

.header ul li {
    display: inline;
    margin: 0 10px;
    padding: 10px;

}

header {
    display: flex;
    justify-content: space-between;
}

.header-container {
    display: inline-flex;
    margin-left: auto;
}

#carrinhoicon {
    display: inline-block;
    vertical-align: middle;
}

#carrinhoicon img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-bottom: 5px;
}

#carrinhoicon a:hover {
    background-color: #0f2a3a;
    border-radius: 100px;
}

.header ul li a {
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.header ul li a:hover {
    background-color: #0f2a3a;
    color: #fff;
}

.livros-destaque {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 65vw;
    max-height: 60vw;
    margin: 0 auto;
    padding-bottom: 15px;
}

.carrossel div img {
    min-width: 600px;
    height: auto;
    border-radius: 20px;

}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 10px 20px 0px 0px;
    min-width: 600px;
}

.livro {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0 50px;
}

.livro img {
    max-width: 100%;
    height: auto;
}

button.prev,
button.next {
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    height: 60px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.prev img,
button.next img {
    width: 30px;
    height: auto;
    display: block;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

.tituloprincipal {
    text-align: center;
    font-size: 2em;
    color: #fff;
    margin: 20px 0;
}

.geral {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    font-style: italic;
    padding: 10px 0;
    background: rgb(0, 0, 0); 
    color: white;
}

section h1 {
    text-align: center;
}


.categorias.navbar {
    background-color: #1e5372;
    padding: 10px 0;
    margin: 0px 20px;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.categorias.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.categorias.navbar ul li {
    display: inline;
}

.categorias.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.categorias.navbar ul li a:hover {
    background-color: #0f2a3a;
    color: #fff;
}

.categorias.navbar h1 {
    padding: 0px 0px 15px 0px;
}

.livroexibicao {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 20px 0;
}

.imgexibicao {
    flex: 1;
    max-width: 300px;
}

.imgexibicao img {
    width: 250px;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
}

.info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 10px;
    padding: 5px;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
    min-height: 480px;
    height: 480px;
    box-sizing: border-box;
    background: #fff;
}

.info h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #000000;
}

.info p {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

.info h3 {
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.final {
    background-color: #1e5372;
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin: 0px 20px;
    border-radius: 40px;
}

.final-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.final-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;
}

.final-content a {
    color: #f4a261;
    text-decoration: none;
}

.final-content a:hover {
    text-decoration: underline;
}

@media (min-width: 1580px) {
    .geral {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px 10px;
        /* Espaço entre linhas e colunas */
    }

    .geral .livroexibicao {
        flex: 0 0 45%;
        /* Cada livro ocupa cerca de metade da largura */
        max-width: 45%;
        min-width: 350px;
        box-sizing: border-box;
    }

}

@media (max-width: 750px) {
    .geral {
        display: block;
    }

    .livroexibicao {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .imgexibicao {
        max-width: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .imgexibicao img {
        width: 90vw;
        max-width: 350px;
        height: auto;
    }

    .info {
        width: 100%;
        box-sizing: border-box;
    }

    .livroexibicao .imgexibicao {
        order: 1;
    }

    .livroexibicao .info {
        order: 2;
    }
}

@media (max-width: 750px) {
    .categorias.navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0px 0;
        padding: 0px;
    }

    .categorias.navbar ul li {
        flex: 0 0 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        text-align: center;
    }
}

@media (max-width: 390px) {
    .categorias.navbar ul li {
        flex: 0 0 50%;
    }
}

.botaoVerMais {
    display: block;
    background-color: #1e5372;
    color: white;
    padding: 18px 40px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
    text-decoration: none;
}

.botaoVerMais:hover {
    background-color: #0f2a3a;
    color: #fff;
}

.footer {
    background-color: #f7f4f4;
    color: #fff;
    padding: 40px 20px 20px 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.footer-section {
    min-width: 180px;
    margin-bottom: 20px;
}

.footer-section img {
    display: flex;
    width: 60px;
    height: 60px;
}

.footer h2.tituloRodape {
    font-size: 17px;
    margin-bottom: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #1e5372;
}

.footer .linksRodape {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.footer .linksRodape.redes-sociais {
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.footer .linksRodape.redes-sociais a img {
    width: 40px;
    height: 40px;
    display: block;
}

.footer,
.footer * {
    font-style: normal;
}

.footer .linksRodape a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
    padding: 6px 0;
}

.footer .linksRodape a:hover {
    color: #000000;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .footer {
        flex-direction: column;
        gap: 20px;
        padding: 30px 10px 10px 10px;
    }
    .footer-section {
        min-width: unset;
    }
    
}

@media (max-width: 1000px) {
    .carrossel {
        padding: 0 0 0 0;
        min-width: 0;
        min-height: 0;
    }

    .carrossel div img,
    .livro img {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: auto;
        border-radius: 12px;
    }

    .livro {
        padding: 0 5vw;
    } 
}

@media (max-width: 800px) {
    .header {
        height: auto;
        padding: 5px 0;
        flex-direction: column;
    }
    .titulocategorias {
    text-align: center;
    font-size: 2em;
    color: #fff;
    margin: 10px 0px 0px 0px;
    }

    .categorias.navbar {
        margin: 60px 0px 0px 0px;
        padding: 10px 0;
    }

    #logo {
        margin: 10px auto 0 auto;
        width: 60vw;
        max-width: 220px;
    }

    .header ul {
        padding: 10px 0 10px 0;

    }

    main {
        margin-top: 180px;
        
    }

    .livros-destaque {
        width: 100vw;
        max-width: 100vw;
        margin-top: 60px;
        padding: 0;
    }

    .carrossel {
        width: 100vw;
        max-width: 100vw;
        min-width: 0;
        gap: 0;
    }


    button.prev,
    button.next {
        display: none;
    }
}

@media (min-width: 801px) {
    main {
        margin-top: 120px;
    }
}
